<!-- COMPOSITION -->
<br>
{{!-- <h1 style="color:rgb(39, 39, 39); margin:2%; font-weight:300; display:inline; border-bottom:2px solid rgb(43, 43, 43);">
    Most
    Popular</h1> --}}
<div id="composition">
    <div class="composition__row">

        <div class="composition__text">
            <br>
            <img src="./img/usda.png" alt="Image 1" style="height:30vh;">
            {{!-- <img style="height:30vh;" src="{{home}}/img/2.png" alt=""> --}}

            <br><br>
            <h1>100% Organic</h1><br>
            <p>All Of Our Extacts Come From 100% Toxin & Pesticide Free Growing Facilities And Are Grown In Natural
                Foilage, Straw, Saw Dust And Worm Casing Medium</p>
        </div>
        <div class="composition__image-container">
            <div class="composition__row-alt">
                <img src="./img/mycotrax.png" alt="Image 1" style="height:20vh;">
            </div>
            <br>
            <div class="composition__row-alt">
                <img style="margin:1vh;" src="{{home}}/img/1.png" alt="">
                <img style="margin:1vh;" src="{{home}}/img/2.png" alt="">
                <img style="margin:1vh;" src="{{home}}/img/3.png" alt="">
                <img style="margin:1vh;" src="{{home}}/img/4.png" alt="">
            </div>
        </div>

    </div>
</div>
<br>
<br>
<br>
<script>

</script>